td[mat-cell]:first-child {
    padding-right: 16px;
}

.mat-column-vehicleCount,
.mat-column-loader,
.mat-column-loadingFailure {
    text-align: center;
}

.mat-column-loadingFailure {
    button {
        margin-left: 8px;
    }
}

.mat-column-loader {
    text-align: center;
}

tr[hidden] {
    display: none;
}
